<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Testes Conexao Serra">
	
	<test name="Teste">
		<classes>
			<class
					name="conexao.serra.mockito.ClienteMockitoTest" />
			<class
					name="conexao.serra.integration.ClienteIntegrationTest" />
			<class
				name="conexao.serra.testng.CalculaFreteTest" />
		</classes>
	</test>

</suite> 